body {
  color: #ffffff;
  background-color: #394d59;
  margin: auto;
}

#game-info {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 500px;
}

h1 {
  font-size: 50px;
  text-shadow: 2px 2px orange, -2px 2px #4d626e;
  text-align: center;
}

p {
  /* float: right; */
  position: absolute;
  top: 200px;
  right: 100px;
  /* font-size: 20px;
  color: rgb(173, 132, 71); */
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  background-color: #394d59;
  box-shadow: -2px -2px 4px #4d626e, 3px 2px 10px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: rgb(173, 132, 71);
  box-shadow: inset -3px -3px 8px rgb(255 255 255 / 30%);
}

#board {
  background-color: lightgrey;
  border-radius: 15px;
  margin: auto;
}

td {
  background-color: lightgrey;
  border-radius: 15px;
  text-transform: uppercase;
  position: relative;
  float: left;
  width: 65px;
  height: 65px;
  margin: 7px;
  box-shadow: -4px -4px 4px rgb(255 255 255 / 60%), 4px 4px 8px rgb(0 0 0 / 40%);
}

td:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset -3px -3px 8px rgb(255 255 255 / 30%);
}

td > span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 3.5em;
  display: flex;
  justify-content: center;
}

td > span:hover {
  color: rgb(173, 132, 71);
}
